@media (max-width: 600px) {
  /* --------------------LAYOUT-------------------- */

  #wrapper {
    max-width: 600px;
  }

  .menu-button {
    display: block;
    border: none;
  }

  header {
    margin-top: 0;
  }

  .logo img {
    width: 10em;
  }

  nav {
    position: fixed;
    top: -100%;
    height: 100vh;
    width: 100%;
    z-index: 100;
    opacity: 0.9;
    transition: top 0.3s ease;
    background-color: white;
  }

  .navbar-list {
    display: flex;
    flex-direction: column;
    margin-top: 10em;
    align-items: center;
    gap: 1.5em;
    padding: 1em 0;
  }

  .top {
    flex-direction: column;
    justify-content: center;
  }

  .cart {
    width: 90%;
    order: -1;
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown {
    border-bottom: none;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom {
    text-align: center;
  }

  /* --------------------HOME-------------------- */

  .some-products ul {
    flex-direction: column;
    margin: 2em 1em 4em 1em;
    align-items: center;
  }

  .some-products img {
    width: 22em;
  }

  /* --------------------PRODUCTS-------------------- */

  .product-page {
    margin: 0 2em;
  }

  .category-and-sort {
    flex-direction: column;
    gap: 0.5em;
    padding-right: 0;
  }

  .category h3 {
    text-align: center;
    letter-spacing: 0.6em;
  }

  .sort-by {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .filter-button {
    display: block;
    width: 4em;
    margin: 0;
    background: url(../../../src/styles/images/arrow.svg);
    background-position: 3em;
    background-size: 10%;
    background-repeat: no-repeat;
  }

  .close-button {
    display: block;
    width: 6em;
    border: 1px solid darkgray;
    text-align: center;
    margin: 2em 0;
  }

  aside {
    position: fixed;
    left: -100%;
    height: 100vh;
    width: 90%;
    margin-top: 0;
    z-index: 100;
    opacity: 0.9;
    transition: left 0.3s ease;
    background-color: white;
  }

  .product-grid {
    flex-direction: column;
  }

  .no-products {
    width: 100%;
    margin: 2em 5em 0 0;
  }

  /* --------------------PRODUCTS DETAILS-------------------- */

  .product-details-title {
    margin: 0 1em;
  }

  .product-details-img img {
    width: 100%;
  }

  .product-details-img {
    margin: 0 1em;
  }

  .product-details-other-imgs {
    width: 21em;
    flex-wrap: wrap;
  }

  .buy-section {
    width: 21em;
    flex-direction: column;
    gap: 2em;
  }

  .product-details-description {
    margin: 0 1em;
  }

  .product-added.show {
    width: 10em;
    padding: 0.5em 1em;
  }

  /* --------------------ABOUT-------------------- */

  .about-text {
    width: 90%;
    margin: 6em 1em;
  }

  .about-img {
    height: 10em;
    margin: 0 0;
    background-position: center 12em;
  }

  /* --------------------CONTACT-------------------- */

  .contact-section {
    width: 90%;
    margin: 6em 1em;
  }

  #contact input,
  #contact textarea {
    width: 90%;
  }
}
